<%- include("../../views/partials/admin/header") %>
<style>
  body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      text-align: center;
      
  }

  h1 {
      color: #333;
  }

  p {
      color: #666;
      margin-bottom: 20px;
  }

  button {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
  }

  button:hover {
      background-color: #b30000;
  }
</style>


  <h1>Admin - Page Not Found - 404</h1>
  <p>The page doesn't exists or have been removed.</p>
  <button onclick="goBack()" class="btn btn-secondary"> <i class="fas fa-arrow-left"></i> Go to Back</button>
  <button onclick="godashboard()">Go to Home Page</button>

  <script>
      function godashboard() {
          window.location.href = "/admin";
      }
       function goBack(){
          window.history.back();
       }
  </script>

<%- include("../../views/partials/admin/footer") %>
