
<%-include("../partials/user/header")%>

  <div class="container text-center mt-4 mb-5 ml-5 " > 
    
     <h3 class="text-center mb-3 "> ABOUT US</h3>
 
  <div class="d-flex justify-content-center">

     <div class="text-start" style="max-width: 700px;">

        <p> Founded by David S, Petal & Mist is a premier destination for luxury perfumes, <br>
            offering an exceptional collection of internationally renowned fragrance brands  <br> 
             to discerning customers. Our mission is to blend the artistry and allure of world-class <br> 
              perfumery with an elevated shopping experience that exudes sophistication and elegance. </p>

        <p> Located in Jaipur, Petal & Mist has become synonymous with refinement and exclusivity, <br>
            showcasing a thoughtfully curated selection of perfumes and fragrance accessories from <br>
            esteemed global houses. Our commitment to excellence extends beyond our product <br> 
             offerings—we pride ourselves on delivering personalized service, expert fragrance guidance, <br>
             and complete customer satisfaction. </p>

        <p> As we continue to grow, Petal & Mist remains dedicated to setting new benchmarks in the <br>
             luxury fragrance space, ensuring each customer experience is unforgettable and steeped in quality. 
             Whether you’re a seasoned perfume connoisseur or a curious newcomer, Petal & Mist is here to help  
             you discover the perfect scent that reflects your unique personality and passion.
        </p>

       </div>
    </div>

</div>

<%-include("../partials/user/footer")%>