
<%-include("../partials/user/header")%>

 <div class="container mt-5" > 
    
     <h4 class="text-center">TERMS AND CONDITIONS</h4>

      <div class="d-flex justify-content-center">

     <div class="text-start" style="max-width: 900px;">
    
     <h6 class="mt-4"> OVERVIEW  </h6>

      <p>  This website is operated by Superkicks. Throughout the site, the terms “we”, “us” and “our” refer to Superkicks. <br>
           Superkicks offers this website, including all information, tools and Services available from this site to you, <br> 
           the user, conditioned upon your acceptance of all terms, conditions, policies and notices stated here. 
      </p>  
         
        <p> By visiting our site and/ or purchasing something from us, you engage in our “Service” and agree to be bound <br>
             by the following terms and conditions (“Terms of Service”, “Terms”), including those additional terms and <br>
             conditions and policies referenced herein and/or available by hyperlink. These Terms of Service apply to all <br>
             users of the site, including without limitation users who are browsers, vendors, customers, merchants, and/ or <br>
             contributors of content.
        </p>       
            
         <p> 
                Please read these Terms of Service carefully before accessing or using our website. By accessing or using any <br> 
                part of the site, you agree to be bound by these Terms of Service. If you do not agree to all the terms and <br>
                 conditions of this agreement, then you may not access the website or use any Services. If these Terms of <br>
                 Service are considered an offer, acceptance is expressly limited to these Terms of Service.
         </p>


       <h6> SECTION 1 - ONLINE STORE TERMS </h6> 
        
          <p>   agreeing to these Terms of Service, you represent that you are at least the age of majority in your state or <br>
             province of residence, or that you are the age of majority in your state or province of residence and you have <br>
              given us your consent to allow any of your minor dependents to use this site. <br> 
              You may not use our products for any illegal or unauthorized purpose nor may you, in the use of the Service, <br>
               violate any laws in your jurisdiction (including but not limited to copyright laws). <br> 
               You must not transmit any worms or viruses or any code of a destructive nature. <br> 
               A breach or violation of any of the Terms will result in an immediate termination of your Services. 
          </p>     
               
         <h6>  SECTION 2 - GENERAL CONDITIONS </h6> 
         
             <p> We reserve the right to refuse Service to anyone for any reason at any time. <br> 
                You understand that your content (not including credit card information), may be transferred unencrypted and <br> 
                involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical <br> 
                requirements of connecting networks or devices. Credit card information is always encrypted during transfer <br>
                 over networks. <br> 
                 You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the <br> 
                  Service, or access to the Service or any contact on the website through which the Service is provided, <br> 
                   without express written permission by us. <br> 
                   The headings used in this agreement are included for convenience only and will not limit or otherwise affect  <br>
                  these Terms.
              </p>

       </div>
      </div>     
        
    </div>




<%-include("../partials/user/footer")%>